:root {
    --amplify-font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    --amplify-primary-color: #457b9d;
    --amplify-primary-shade: #a8dadc;
    --amplify-primary-tint: #a8dadc;
    --amplify-secondary-color: #1d3557;
}

amplify-authenticator {
    --container-height: 50vh;
}
