@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('./theme/fonts/roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url('./theme/fonts/roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: 400;
    src: url('./theme/fonts/openSans/OpenSans-Regular.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: Roboto, OpenSans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

:root {
    --amplify-font-family: OpenSans, Roboto;
    --amplify-primary-color: #457b9d;
    --amplify-primary-shade: #a8dadc;
    --amplify-primary-tint: #a8dadc;
    --amplify-secondary-color: #1d3557;
}
